body {
	background: #c2e59c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
	text-align: center
}

#spinner {
	margin-top: 1em
}

#logo {
	text-align: left;
	font-size: 1.5em;
	color: blueviolet;
}

#logo img {
	width: 1.1em
}

#header-location-block {
	text-align: right
}

#current-block-left {
	align-self: center;
	text-align: left
}

#current-block-right {
	align-items: flex-end;
	text-align: right
}

#current-degree {
	font-size: 4em;
	margin-right: -0.35em
}

#current-degree-st {
	font-size: 0.8em
}

#current {
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
}

#hours {
	text-align: left
}

#hours img {
	width: 25px
}

#content,#spinner {
  min-height: calc(100vh - 106px);
}
#footer {
  height: 40px;
}