#spinner,
#content {
	text-align: center
}

#spinner {
	margin-top: 1em
}

#icon{
	width: 50%;
	margin: -7%
}

header {
	justify-content: space-between;

}

#logo {
	text-align: left;
	font-size: 1.5em;
	color: blueviolet;
}

#logo img {
	width: 1.1em
}

#location {
	text-align: right
}
