body {
	background: #9796f0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#spinner,
#content {
	text-align: center
}

#spinner {
	margin-top: 1em
}

#icon{
	margin-top: 0.8em;
}

header {
	justify-content: space-between;
}

#logo {
	text-align: left;
	font-size: 1.5em;
	color: blueviolet;
}

#logo img {
	width: 1.1em
}

#location {
	text-align: right
}

#horas {
	justify-content: space-between;
}
#current-block-left {
	text-align: left
}

#current-block-right {
	align-items: flex-end;
	text-align: right
}

#current-degree {
	font-size: 4em;
	margin-right: -0.35em
}

#current-degree-st {
	font-size: 0.8em
}

#current {
	font-size: 1.6em
}
